{#
/**
 * @file
 * Default three column layout template for Amino Page Builder.
 *
 * Available variables:
 * - content: The content for this layout.
 * - settings: Settings for this layout.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'amino-layout',
    'amino--three-column',
  ]
%}

{% set classes = classes|merge([settings.additional_classes]) %}

{% if settings.full_width %}
  {% set classes = classes|merge(['amino-layout--fullwidth']) %}
{% endif %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if settings.heading %}
      <div class="region--heading">
        <h2 class="row-heading">{{ settings.heading }}</h2>
      </div>
    {% endif %}

    <div class="row-content">
      {% if content.left %}
        <div {{ region_attributes.left.addClass('amino-layout-region', 'region--left') }}>
          {{ content.left }}
        </div>
      {% endif %}

      {% if content.center %}
        <div {{ region_attributes.center.addClass('amino-layout-region', 'region--center') }}>
          {{ content.center }}
        </div>
      {% endif %}

      {% if content.right %}
        <div {{ region_attributes.right.addClass('amino-layout-region', 'region--right') }}>
          {{ content.right }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
